<h3>Уважаемый(ая) <%= @order.name %></h3>

<p>
	Администрация магазина Pragmatic Store благодарит Вас за недавний заказ.

	Вы заказали следующий товар:
</p>

<table>
	<tr><th colspan="2">К-во</th><th>Описание</th></tr>
  <%= render @order.line_items -%>-
</table>

<p>
	Когда Ваш заказ будет отправлен, мы уведомим Вас по электронной почте.
</p>
